.search-form {
  background: url(../../images/background-dekstop.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.search-form__title {
  font-family: Roboto Slab, Arial, sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #FFFFFF;
  margin: 0;
  width: 608px;
}

.search-form__text {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 32px 0 64px;
  width: 608px;
}

.search-form__field {
  border: none;
  outline: none;
  position: relative;
  height: 64px;
  width: 608px;
  padding: 0;
  margin: 0;
}

.search-form__input {
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;
  width: 608px;
  height: 64px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  outline: none;
  padding-left: 24px;
  padding-right: 192px;
}

.search-form__input::placeholder {
  color: #B6BCBF;
}

.search-form__button {
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  height: 65px;
  width: 168px;
  border: none;
  outline: none;
  color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  right: -2px;
  bottom: 0;
  padding: 0;
}

.search-form__button:hover {
  background: #347EFF;
  transition: .2s ease-in;
}

.search-form__button:active {
  background: #2A65CC;
}

@media screen and (max-width: 800px) {
  .search-form {
    background: url(../../images/background-tablet.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 104px;
    padding-bottom: 48px;
  }
  .search-form__title {
    font-size: 36px;
    line-height: 40px;
    width: 452px;
  }
  .search-form__text {
    width: 452px;
    margin: 16px 0 48px;
  }
  .search-form__field {
    width: 448px;
    height: 56px;
  }
  .search-form__input {
    width: 448px;
    height: 56px;
  }
  .search-form__button {
    width: 160px;
    height: 56px;
  }
}

@media screen and (max-width: 550px) {
  .search-form__form {
    padding-bottom: 32px;
  }
  .search-form__title {
    width: 288px;
  }
  .search-form__text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 122px;
    width: 288px;
  }
  .search-form__field {
    width: 288px;
    min-height: 128px;
  }
  .search-form__input {
    width: 288px;
    padding-right: 24px;
  }
  .search-form__button {
    width: 288px;
    right: 0;
  }
}

@media screen and (max-width: 450px) {
  .search-form {
    padding: 86px 16px 32px;
  }
}

@media screen and (max-width: 400px) {
  .search-form {
    background: url(../../images/background-mobile.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }
}
