.footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 26px;
  max-width: 1440px;
  margin: auto auto 0;
  width: calc(100% - 208px);
}

.footer__copyright {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  margin: 0;
}

.footer__links {
  display: flex;
}

.footer__links-info {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__link-info-li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.footer__link-info {
  text-decoration: none;
  color: #1A1B22;
  margin-right: 40px;
}

.footer__link-info:hover {
  opacity: 0.8;
  transition: .2s ease-in;
}

.footer__links-cocial {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer__link-cocial-li {
  margin-right: 27px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.footer__link-cocial-li:last-of-type {
  margin-right: 0;
}

.footer__link-cocial-li:hover {
  opacity: 0.8;
  transition: .2s ease-in;
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 24px 0 18px;
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 850px) {
  .footer {
    flex-direction: column-reverse;
  }
  .footer__copyright {
    margin-top: 38px;
  }
  .footer__links {
    justify-content: space-between;
  }
  .footer__links-info {
    flex-direction: column;
  }
  .footer__link-info-li {
    margin: 0 0 38px;
  }
  .footer__link-info-li:last-of-type {
    margin-bottom: 0;
  }
  .footer__links-cocial {
    align-items: start;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    flex-direction: column-reverse;
    padding: 20px 0;
    width: calc(100% - 32px);
  }
}
