.news-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-content: center;
  margin: 0 auto;
  background: #F5F6F7;
  padding: 62px 102px 62px;
  max-width: 1440px;
}

@media screen and (max-width: 1000px) {
  .news-card-list {
    padding: 32px 60px 22px;
  }
}

@media screen and (max-width: 800px) {
  .news-card-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
}

@media screen and (max-width: 750px) {
  .news-card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 510px) {
  .news-card-list {
    grid-template-columns: 1fr;
    gap: 9px;
  }
}

@media screen and (max-width: 450px) {
  .news-card-list {
    padding: 24px 16px 15px;
  }
}
