.news-card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  width: 400px;
}

.news-card__image {
  display: flex;
  height: 272px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.news-card__keyword {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  padding: 8px 12px;
  top: 24px;
  left: 24px;
  margin: 0;
}

.news-card__button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
}

.news-card__tooltip {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  border-radius: 10px;
  position: absolute;
  background: #FFFFFF;
  height: 40px;
  padding: 0 10px;
  top: 24px;
  right: 69px;
  margin: 0;
  margin-left: 8px;
  visibility: hidden;
}

.news-card__button:hover+.news-card__tooltip {
  visibility: visible;
}

.news-card__button_delete {
  background: url(../../images/button-delete-normal.svg) no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.news-card__button_delete:hover {
  background: url(../../images/button-delete-hover.svg) no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.news-card__button_bookmark {
  background: url(../../images/button-bookmark-normal.svg) no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.news-card__button_bookmark:hover {
  background: url(../../images/button-bookmark-hover.svg) no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.news-card__button_bookmark:focus {
  background: url(../../images/button-bookmark-marked.svg) no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.news-card__date {
  font-family: Source Sans Pro, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  margin: 20px 24px 12px;
}

.news-card__title {
  font-family: Roboto Slab, Arial, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 0 24px 16px;
}

.news-card__text {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  overflow: hidden;
  margin: 0 24px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.news-card__source {
  font-family: Roboto Slab, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: 10px 24px 24px;
}

@media screen and (max-width: 1300px) {
  .news-card {
    width: 350px;
  }
  .news-card__image {
    height: 238px;
  }
}

@media screen and (max-width: 1150px) {
  .news-card {
    width: 300px;
  }
  .news-card__image {
    height: 204px;
  }
}

@media screen and (max-width: 980px) {
  .news-card {
    width: 250px;
  }
  .news-card__image {
    height: 170px;
  }
}

@media screen and (max-width: 810px) {
  .news-card {
    width: 224px;
  }
  .news-card__image {
    height: 150px;
  }
  .news-card__keyword {
    top: 8px;
    left: 8px;
  }
  .news-card__button {
    top: 8px;
    right: 8px;
  }
  .news-card__tooltip {
    top: 8px;
    right: 53px;
  }
  .news-card__date {
    margin: 16px 16px 10px;
  }
  .news-card__title {
    font-size: 22px;
    line-height: 24px;
    margin: 0 16px 10px;
  }
  .news-card__text {
    margin: 0 16px;
  }
  .news-card__source {
    margin: 12px 16px 16px;
  }
}

@media screen and (max-width: 750px) {
  .news-card {
    width: 300px;
  }
  .news-card__image {
    height: 204px;
  }
}

@media screen and (max-width: 670px) {
  .news-card {
    width: 224px;
  }
  .news-card__image {
    height: 150px;
  }
}

@media screen and (max-width: 510px) {
  .news-card {
    width: 288px;
  }
  .news-card__image {
    height: 196px;
  }
  .news-card__keyword {
    top: 16px;
    left: 16px;
  }
  .news-card__button {
    top: 16px;
    right: 16px;
  }
  .news-card__tooltip {
    top: 16px;
    right: 61px;
  }
  .news-card__date {
    margin: 16px 16px 12px;
  }
  .news-card__title {
    line-height: 26px;
    margin: 0 16px 10px;
  }
  .news-card__source {
    margin: 8px 16px 16px;
  }
}
